@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
    --bs-body-font-family: "Montserrat", sans-serif !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--bs-body-font-family);
    background-color: #f8f9fa;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
    display: block !important;
}
.react-datepicker__input-container input {
    padding-left: 36px !important;
}
.react-datepicker,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    font-family: "Montserrat", Arial, sans-serif !important;
}

.help-tooltip-popup-mobile {
    animation: tooltip-fadein 0.2s;
    box-shadow: 0 4px 24px 2px rgba(0, 0, 0, 0.16);
}
@keyframes tooltip-fadein {
    from {
        opacity: 0;
        transform: translate(-50%, -45%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

label.required::after {
    content: " *";
    color: red;
    font-weight: normal;
}
